NGAFID-LOCI-GenAV-Data/
__pycache__/
wandb/
runs/
NGAFID-LOCI-GATS-Data/
bert_masked_regressor_runs/
real_flight_data/
synthetic_bert_runs/
synthetic_flight_data/
results/
logs/
checkpoints/
figures/
anomaly_detection_results/
baseline_runs/
bert_forecaster_runs/
linear_probe_results/
forecasting_eval_results/
KEEP_THESE_CHECKPOINTS/
tfidf_benchmark_results/
masked_regression_results/
checkpoint_data_scaling/
forecasting_results/